<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <figure class="figure">
                    <button class="process">
                        <figcaption class="figure-caption">Новые
                        </figcaption>
                    </button>
                    <button class="plus" > + </button>
                    <br>
                    <button class="zadacha">
                        <p class="1" >Название задачи</p>
                        <p class="2">Краткое описание</p>
                    </button>
                </figure>
            </div>
            </div>

            <div class="row align-items-start">
            <div class="col">
                <figure class="figure">
                    <button class="process">
                        <figcaption class="figure-caption">Выполняются
                            <div class="container">
                            </figcaption>
                    </button>
                </button>
                <button class="plus" > + </button>
                </figure>
            </div>
            </div>

            <div class="row align-items-start">
            <div class="col">
                <figure class="figure">
                    <button class="process">
                        <figcaption class="figure-caption">Проверяются
                            <div class="container">
                        </figcaption>
                    </button>
                </button>
                <button class="plus" > + </button>
                </figure>
            </div>
            </div>
 

                <div class="row align-items-start">
                    <div class="col">
                        <figure class="figure">
                            <button class="process">
                                <figcaption class="figure-caption">Сделаны
                                </figcaption>
                            </button>
                        </button>
                        <button class="plus" > + </button>
                        </figure>
                    </div>
                </div>
            </div>
</body>
</html>